:root {
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	--grey-100: #F5F5F5;
	--grey-500: #9E9E9E;
	--grey-900: #212121;
}

html {
	font-family: var(--font-family-sans-serif);
}

body {
	font-family: var(--font-family-sans-serif);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-sans-serif);
}

.skin-blue .main-header .navbar {
	background-color: var(--grey-900);
}

.main-header .logo {
	font-family: var(--font-family-sans-serif);
}

.skin-blue .main-header .logo:hover {
	background-color: var(--grey-500);
}

.skin-blue .main-header .logo {
	background-color: var(--grey-500);
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
	border-left-color: var(--grey-500);
}

.content-wrapper {
	background-color: var(--grey-100);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: var(--grey-500);
}

.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color: var(--grey-900);
}

.jumbotron p {
	font-weight: 300;
}
